/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --filter-bg-color: #DEEBFF;
    --main-bg-color: #F2F2F2;
    --dark-grey-color: #D9D9D9; 
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    padding-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.logo-img {
    margin-top: 5px;
    margin-bottom: 20px; 
    width: auto;
    height: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-top: 5px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.blue-bar {
    color: #0065FC;
    border-top: 8px solid #0065FC;
    padding-top: 33px;
}

.nav-links li a:hover {
    color: var(--main-color);

}

/* Search */
.search {
    margin-top: 10px;
  }
  
  .search h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .search-form {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 30px;
  }
  
  .search-form i {
    background: var(--main-bg-color);
    padding: 12px;
    border-radius: 10px 0 0 10px;
    color: black; /* overrides global blue color */
  }
  
  .search-form input {
    flex: 1;
    padding: 12px;
    border: 1px solid var(--main-bg-color);
    border-left: none;
  }

  .search-form input::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: 700; /* bold placeholder text */
    color: black;
    text-align: center; 
  }
  
  .search-form button {
    background: var(--main-color);
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
  }

  /* Filters */
  .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 25px 0;
  }
  
  .filters button {
    background: white;
    border: 2px solid;
    border-color: var(--dark-grey-color);
    padding: 10px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .filters button:hover {
    background: var(--filter-bg-color);
    color: black;
  }
  
  .info-text {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
  }

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}
